/*.language{*/
/*    margin-bottom: 10px;*/
/*}*/

.language ul {
    display: flex;
    list-style: none;
}

.language a.active {
    color: #fff;
    text-decoration: underline;
}

.language li a {
    margin-right: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.language a:hover{
    text-decoration: underline;
}

.language li:last-child a {
    margin-right: 0;
    margin-left: 10px;
}

.language li:last-child:after {
    content: "";
}

.language li:after {
    content: "/";
}