.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; /*Скрываем фон и сам попап*/
    pointer-events: none; /*Запрещаем ему быть целью событий*/
    transition: 0.5s all;
    font-size: 1.5rem;
    color:#fff;
    z-index: 10;
    cursor: pointer;
}

.popup__bg.active {
    /*При добавлении класса 'active'*/
    opacity: 1; /*Показываем фон и попап*/
    pointer-events: all; /*Возвращаем события*/
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /*Центрируем и масштабируем в 0 само окно*/
    width: 65rem;
    padding: 4.5rem;
    transition: 0.5s all;

    background: #000;
    box-shadow: 0px 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
}

.popup.active {
    /*При добавлении класса 'active'*/
    transform: translate(-50%, -50%) scale(1);
    /*Так же центрируем и плавно увеличиваем*/
    transition: 0.5s all;
}